@{
    SysColaborador usuario = new SysColaborador();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/components/font-awesome/css/font-awesome.min.css" />

    <!-- page specific plugin styles -->

    <link href="~/Content/components/_mod/jquery-ui.custom/jquery-ui.custom.min.css" rel="stylesheet" />
    <link href="~/Content/components/jquery.gritter/css/jquery.gritter.min.css" rel="stylesheet" />

    <!-- text fonts -->
    <link rel="stylesheet" href="~/Content/css/ace-fonts.min.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="~/Content/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />
    <link href="~/Content/css/please-wait.css" rel="stylesheet" />

    <!--[if lte IE 9]>
        <link href="~/Content/css/ace-part2.min.css" rel="stylesheet" />
    <![endif]-->
    <link rel="stylesheet" href="~/Content/css/ace-skins.min.css" />
    <link rel="stylesheet" href="~/Content/css/ace-rtl.min.css" />

    <link href="~/Content/Site.css" rel="stylesheet" />

    <!--[if lte IE 9]>
      <link rel="stylesheet" href="~/Content/css/ace-ie.min.css" />
    <![endif]-->
    <!-- inline styles related to this page -->
    <!-- ace settings handler -->
    <script src="~/Scripts/js/ace-extra.min.js"></script>
    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->
    <!--[if lte IE 8]>
    <script src="~/Content/components/html5shiv/dist/html5shiv.min.js"></script>
    <script src="~/Content/components/respond/dest/respond.min.js"></script>
    <![endif]-->
    @RenderSection("Head", false)
</head>

<body class="no-skin">
    <!-- #section:basics/navbar.layout -->
    <div id="navbar" class="navbar navbar-default ace-save-state">
        <div class="navbar-container ace-save-state" id="navbar-container">
            <!-- #section:basics/sidebar.mobile.toggle -->
            <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
                <span class="sr-only">Toggle sidebar</span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>
            </button>

            <!-- /section:basics/sidebar.mobile.toggle -->
            <div class="navbar-header pull-left">
                <!-- #section:basics/navbar.layout.brand -->
                <a href="#" class="navbar-brand" style="padding: 0px;">
                    <img src="~/Content/images/logo-hc.png" alt="Sistemas HC" style="padding-left: 5px;" />
                </a>

                <!-- /section:basics/navbar.layout.brand -->
                <!-- #section:basics/navbar.toggle -->
                <!-- /section:basics/navbar.toggle -->
            </div>

            @if (usuario != null)
            {
            <!-- #section:basics/navbar.dropdown -->
                <div class="navbar-buttons navbar-header pull-right" role="navigation">
                    <ul class="nav ace-nav">
                        <!-- #section:basics/navbar.user_menu -->
                        <li class="light-blue dropdown-modal">
                            <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                                @Html.Avatar()
                                <span class="user-info">
                                    @if (usuario.Sexo == SexoColaborador.Feminino)
                                    {
                                        <small>Bem vinda</small>
                                    }
                                    else
                                    {
                                        <small>Bem vindo</small>
                                    }
                                    @User.Identity.Name
                                </span>

                                <i class="ace-icon fa fa-caret-down"></i>
                            </a>
                            <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">

                                <li>
                                    <a href="@Html.UrlMeusDados()">
                                        <i class="ace-icon fa fa-user"></i>
                                        Meus Dados
                                    </a>
                                </li>
                                <li> <a href="@Html.UrlMeusSistemas()"> <i class="ace-icon fa fa-user"></i> Meus Sistemas </a> </li>
                                <li class="divider"></li>

                                <li>
                                    <a href="#" id="btn-logout">
                                        <i class="ace-icon fa fa-power-off"></i>
                                        Sair
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- /section:basics/navbar.user_menu -->
                    </ul>
                </div>
            <!-- /section:basics/navbar.dropdown -->
            }
        </div><!-- /.navbar-container -->
    </div>

    <!-- /section:basics/navbar.layout -->
    <div class="main-container ace-save-state" id="main-container">
        <script type="text/javascript">
            try { ace.settings.loadState('main-container') } catch (e) { }
        </script>

        <!-- #section:basics/sidebar -->
        <div id="sidebar" class="sidebar                  responsive                    ace-save-state">
            <script type="text/javascript">
                try { ace.settings.loadState('sidebar') } catch (e) { }
            </script>

            <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                    <button class="btn btn-success">
                        <i class="ace-icon fa fa-signal"></i>
                    </button>

                    <button class="btn btn-info">
                        <i class="ace-icon fa fa-pencil"></i>
                    </button>

                    <!-- #section:basics/sidebar.layout.shortcuts -->
                    <button class="btn btn-warning">
                        <i class="ace-icon fa fa-users"></i>
                    </button>

                    <button class="btn btn-danger">
                        <i class="ace-icon fa fa-cogs"></i>
                    </button>

                    <!-- /section:basics/sidebar.layout.shortcuts -->
                </div>

                <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                    <span class="btn btn-success"></span>

                    <span class="btn btn-info"></span>

                    <span class="btn btn-warning"></span>

                    <span class="btn btn-danger"></span>
                </div>
            </div><!-- /.sidebar-shortcuts -->

            @Html.Partial("_Menu")

            <!-- #section:basics/sidebar.layout.minimize -->
            <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
                <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
            </div>

            <!-- /section:basics/sidebar.layout.minimize -->
        </div>

        <!-- /section:basics/sidebar -->
        <div class="main-content">
            <div class="main-content-inner">
                <!-- #section:basics/content.breadcrumbs -->
                <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                    @RenderSection("Breadcrumb", false)
                </div>
                <!-- /section:basics/content.breadcrumbs -->
                @Html.Ambiente()
                <div class="page-content">
                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->
                            @RenderBody()
                            <!-- PAGE CONTENT ENDS -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.page-content -->
            </div>
        </div><!-- /.main-content -->

        <div class="footer">
            <div class="footer-inner">
                <!-- #section:basics/footer -->
                <div class="footer-content">
                    <span class="bigger-120">
                        <span class="blue bolder">NETi</span>
                        HCFMUSP &copy; 2016-2017
                    </span>
                </div>

                <!-- /section:basics/footer -->
            </div>
        </div>

        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>
    </div><!-- /.main-container -->

    <form id="logoutForm" action="@Html.UrlLogOff()" method="post">
        @Html.Hidden("returnUrl")
    </form>

    <div id="dv-load" class="pg-loading-screen pg-loading" style="background-color: rgb(67, 142, 185); display:none;">
        <div class="pg-loading-inner">
            <div class="pg-loading-center-outer">
                <div class="pg-loading-center-middle">
                    <h1 class="pg-loading-logo-header">
                        <img class="pg-loading-logo" src="~/Content/images/logo-wait.png">
                    </h1>
                    <div class="pg-loading-html pg-loaded"><p id="loading-message" class="loading-message">Um momento...</p><div class="sk-cube-grid"><div class="sk-cube sk-cube1"></div><div class="sk-cube sk-cube2"></div><div class="sk-cube sk-cube3"></div><div class="sk-cube sk-cube4"></div><div class="sk-cube sk-cube5"></div><div class="sk-cube sk-cube6"></div><div class="sk-cube sk-cube7"></div><div class="sk-cube sk-cube8"></div><div class="sk-cube sk-cube9"></div></div></div>
                </div>
            </div>
        </div>
    </div>

    <!-- basic scripts -->
    <!--[if !IE]> -->
    <script src="~/Content/components/jquery/dist/jquery.js"></script>

    <!-- <![endif]-->
    <!--[if IE]>
    <script src="~/Content/components/jquery.1x/dist/jquery.js"></script>
    <![endif]-->
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='~/Content/components/_mod/jquery-ui.custom/jquery-ui.custom.min.js'>" + "<" + "/script>");
    </script>
    <script src="~/Content/components/bootstrap/dist/js/bootstrap.js"></script>
    <!-- page specific plugin scripts -->
    <!-- ace scripts -->
    <script src="~/Scripts/js/ace-elements.min.js"></script>
    <script src="~/Scripts/js/ace.min.js"></script>

    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        function Load(action) {
            if (action) {
                $('#dv-load').fadeIn();
            } else {
                $('#dv-load').fadeOut();
            }
        }

        jQuery.validator.setDefaults({
            highlight: function (element, errorClass, validClass) {
                if (element.type === 'radio') {
                    this.findByName(element.name).addClass(errorClass).removeClass(validClass);
                } else {
                    $(element).addClass(errorClass).removeClass(validClass);
                    $(element).closest('.form-group').addClass('has-error');
                }
            },
            unhighlight: function (element, errorClass, validClass) {
                if (element.type === 'radio') {
                    this.findByName(element.name).removeClass(errorClass).addClass(validClass);
                } else {
                    $(element).removeClass(errorClass).addClass(validClass);
                    $(element).closest('.form-group').removeClass('has-error');
                }
            }
        });

        $(function () {
            $("span.field-validation-valid, span.field-validation-error").addClass('help-inline');
            $("div.form-group").has("span.field-validation-error").addClass('error');
            $("div.validation-summary-errors").has("li:visible").addClass("alert alert-block alert-error");
        });

        $(document).ready(function () {
            $('#btn-logout').on('click', function () {
                $('#returnUrl').val(window.location.href);
                $('#logoutForm').submit();
            });

            $('.close', '.environment-notify').on('click', function (e) {
                e.preventDefault();
                var $myNotify = $(this).parent();
                $myNotify.fadeOut(400, function () {
                    $myNotify.remove();
                });
            });
        });
    </script>

    <script src="~/Content/components/jquery.gritter/js/jquery.gritter.min.js"></script>

    @RenderSection("scripts", required: false)

</body>
</html>
